@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;600;700&display=swap");
body {
  width: 100%;
  box-sizing: border-box;
}

.btn__social {
  background: none;
  border: none;
  cursor: pointer;
}

.btn {
  max-width: 250px;
  width: 100%;
  height: 70px;
  border-radius: 16px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn {
    max-width: 150px;
    height: 50px;
    font-size: 0.6rem;
  }
}
@media (max-width: 480px) {
  .btn {
    max-width: 100px;
    height: 30px;
    font-size: 0.4rem;
    border-radius: 8px;
  }
}

.link {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}

.link:hover {
  color: rgb(52, 129, 132);
  font-weight: bold;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.4rem;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.1rem;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  h3 {
    font-size: 0.7rem;
  }
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  p {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid rgb(202, 207, 206);
}
@media (max-width: 768px) {
  .header {
    font-size: 0.5rem;
    height: 17vh;
  }
}
.header .header__logo {
  margin: 0 auto;
  height: 70%;
}
.header .header__logo .header__logo-img {
  height: 100%;
}
.header .header__menu {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .header .header__menu {
    flex-direction: column;
    background-color: rgb(52, 129, 132);
    width: 70%;
  }
  .header .header__menu a:last-child, .header .header__menu .menu__pic {
    display: none;
  }
}
.header .menu__pic {
  max-width: 40px;
  padding-left: 3%;
}
.header .menu__link {
  padding-left: 3%;
  color: black;
}
@media (max-width: 768px) {
  .header .menu__link {
    border: 2px solid white;
    color: white;
    width: 100%;
    padding: 1%;
  }
}
.header .menu__link-tel {
  padding-left: 0;
}

.faq__container {
  margin: 5% auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq__container .faq__question {
  display: flex;
  flex-wrap: wrap;
}
.faq__container .faq__question .faq__question-title {
  width: 90%;
  margin-bottom: 1%;
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  .faq__container .faq__question .faq__question-title {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .faq__container .faq__question .faq__question-title {
    font-size: 0.8rem;
  }
}
.faq__container .faq__question .faq__question-txt {
  font-size: 1rem;
  width: 100%;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  .faq__container .faq__question .faq__question-txt {
    font-size: 0.7rem;
  }
}
@media (max-width: 480px) {
  .faq__container .faq__question .faq__question-txt {
    font-size: 0.6rem;
  }
}

.footer {
  border-top: 1px solid rgb(202, 207, 206);
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.footer .footer__container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer__container .footer__title {
  width: 100%;
  text-align: center;
  font-style: inherit;
}
@media screen and (max-width: 768px) {
  .footer .footer__container .footer__title {
    font-size: 1.2rem;
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 480px) {
  .footer .footer__container .footer__title {
    margin-bottom: 2%;
    font-size: 0.8rem;
  }
}
.footer .footer__container .footer__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 480px) {
  .footer .footer__container .footer__content {
    margin: auto;
    gap: 5px;
  }
}
.footer .footer__container .footer__content .icon {
  margin-left: 5%;
  width: 40px;
  height: 40px;
}
.footer .footer__container .footer__content .privacy-policy {
  align-self: flex-end;
  color: gray;
  font-size: 1rem;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer .footer__container .footer__content .privacy-policy {
    text-decoration: underline;
    font-size: 0.8rem;
    align-self: center;
  }
}
@media screen and (max-width: 480px) {
  .footer .footer__container .footer__content .privacy-policy {
    font-size: 0.6rem;
  }
}
.footer .footer__container .footer__content .privacy-policy:hover {
  text-decoration: underline;
}
.footer .footer__container .footer__contati {
  gap: 5px;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .footer .footer__container .footer__contati {
    margin: auto;
    padding-top: 5px;
  }
}
.footer .footer__container .adress {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .footer .footer__container .adress {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 480px) {
  .footer .footer__container .adress {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer__container .adress .adress__link {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 480px) {
  .footer .footer__container .adress .adress__link {
    font-size: 0.5rem;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 5px;
  border: 1px solid #888;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .modal .modal-content {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .modal .modal-content {
    width: 90%;
  }
}
.modal .modal-content .close__export {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close__export:hover, .modal .modal-content .close__export:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .modal__img-exp {
  margin-left: 10%;
  width: 80%;
  max-height: 350px;
}
.modal .modal-content .modal__form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.modal .modal-content .modal__form .form__text {
  margin-bottom: 2%;
}
.modal .modal-content .modal__form .form__input {
  height: 40px;
  padding-left: 3%;
  border-radius: 10px;
}
.modal .modal-content .modal__form .form__btn {
  width: 30%;
  height: 45px;
  align-self: flex-end;
  background-color: rgb(52, 129, 132);
}
.modal .modal-content .modal__form .form__btn:hover {
  background-color: transparent;
  color: rgb(52, 129, 132);
  border: 2px solid rgb(52, 129, 132);
}
.modal .modal-content .modal__form .form__text-link {
  color: gray;
  font-size: 0.7rem;
  text-align: center;
  margin-top: 5%;
}
.modal .modal-content .modal__form .form__text-link .form__link {
  color: gray;
  text-decoration: underline;
}/*# sourceMappingURL=faq.css.map */