@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;600;700&display=swap');
$Font1: 'Montserrat', sans-serif;
$Font2: 'Inter', sans-serif;

@mixin btn-orange {
    background-color: rgb(209, 111, 66);
}
@mixin btn-red {
    background-color: rgb(246, 124, 135);
}
@mixin btn-green {
    background-color: rgb(52, 129, 132);
}   