@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;600;700&display=swap");
body {
  width: 100%;
  box-sizing: border-box;
}

.btn__social {
  background: none;
  border: none;
  cursor: pointer;
}

.btn {
  max-width: 250px;
  width: 100%;
  height: 70px;
  border-radius: 16px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn {
    max-width: 150px;
    height: 50px;
    font-size: 0.6rem;
  }
}
@media (max-width: 480px) {
  .btn {
    max-width: 100px;
    height: 30px;
    font-size: 0.4rem;
    border-radius: 8px;
  }
}

.link {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}

.link:hover {
  color: rgb(52, 129, 132);
  font-weight: bold;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.4rem;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.1rem;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  h3 {
    font-size: 0.7rem;
  }
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  p {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid rgb(202, 207, 206);
}
@media (max-width: 768px) {
  .header {
    font-size: 0.5rem;
    height: 17vh;
  }
}
.header .header__logo {
  margin: 0 auto;
  height: 70%;
}
.header .header__logo .header__logo-img {
  height: 100%;
}
.header .header__menu {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .header .header__menu {
    flex-direction: column;
    background-color: rgb(52, 129, 132);
    width: 70%;
  }
  .header .header__menu a:last-child, .header .header__menu .menu__pic {
    display: none;
  }
}
.header .menu__pic {
  max-width: 40px;
  padding-left: 3%;
}
.header .menu__link {
  padding-left: 3%;
  color: black;
}
@media (max-width: 768px) {
  .header .menu__link {
    border: 2px solid white;
    color: white;
    width: 100%;
    padding: 1%;
  }
}
.header .menu__link-tel {
  padding-left: 0;
}

.intro {
  width: 90%;
  min-height: 70vh;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url("../../assets/main/12178789_4907879.svg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: top right;
  margin: 2% auto;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .intro {
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-position: right center;
  }
}
.intro .intro__title {
  padding: 5% 0;
}
.intro .intro__btn {
  padding: 0 0 5% 7%;
}
.intro .intro__btn-want {
  background-color: rgb(52, 129, 132);
}
.intro .intro__btn-want:hover {
  background-color: transparent;
  color: rgb(52, 129, 132);
  border: 2px solid rgb(52, 129, 132);
}
.intro .intro__btn-need {
  background-color: rgb(246, 124, 135);
}
.intro .intro__btn-need:hover {
  background-color: transparent;
  color: rgb(246, 124, 135);
  border: 2px solid rgb(246, 124, 135);
}

.objective {
  width: 90%;
  min-height: 50vh;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2% auto;
  display: flex;
}
@media (max-width: 768px) {
  .objective {
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin-top: 5%;
  }
}
.objective .objective__img {
  width: 50%;
}
.objective .objective__img .objective__pic {
  width: 80%;
}
.objective .objective__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 480px) {
  .objective .objective__info {
    gap: 15px;
  }
}
.objective .objective__btn {
  background-color: rgb(52, 129, 132);
}
.objective .objective__btn:hover {
  background-color: transparent;
  color: rgb(52, 129, 132);
  border: 2px solid rgb(52, 129, 132);
}

.rules {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 2% auto;
  min-height: 60vh;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 768px) {
  .rules {
    min-height: -moz-fit-content;
    min-height: fit-content;
    line-height: normal;
    margin-top: 5%;
  }
}
.rules .rules__name {
  text-align: center;
}
.rules .rules__grcards {
  display: flex;
  width: 90%;
}
@media screen and (max-width: 480px) {
  .rules .rules__grcards {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.rules .rules__grcards .rules__card {
  padding: 5%;
  width: 50%;
  margin: 5% auto 2%;
  box-sizing: border-box;
}
@media screen and (max-width: 480px) {
  .rules .rules__grcards .rules__card {
    width: 100%;
    margin: auto;
  }
}
.rules .rules__grcards .rules__card .rules__card-title {
  padding-bottom: 5%;
}
.rules .rules__grcards .rules__card .rules__card-bullet {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  .rules .rules__grcards .rules__card .rules__card-bullet {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
}
.rules .rules__btn {
  margin: 3%;
  background-color: rgb(52, 129, 132);
}
.rules .rules__btn:hover {
  background-color: transparent;
  color: rgb(52, 129, 132);
  border: 2px solid rgb(52, 129, 132);
}

.rules::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/main/12234005_4886286.svg"), url("../../assets/main/4883003.jpg");
  opacity: 0.3;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
@media (max-width: 480px) {
  .rules::before {
    background-position: top right, center center;
  }
}

.news {
  box-sizing: border-box;
  width: 90%;
  margin: 5% auto;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.news .news__title {
  padding-bottom: 5%;
}
.news .news__container {
  width: 90%;
  min-height: 50vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
@media (max-width: 768px) {
  .news .news__container {
    flex-wrap: nowrap;
  }
  .news .news__container figure:last-child {
    display: none;
  }
}
@media (max-width: 480px) {
  .news .news__container {
    flex-wrap: wrap;
  }
}
.news .news__container .news__figure {
  background-color: rgba(205, 228, 229, 0.3);
  border-radius: 10%;
  max-width: 270px;
  min-width: 200px;
  height: 370px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1%;
}
.news .news__container .news__figure .news__figure-img {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  width: 100%;
  margin-bottom: 6%;
}
.news .news__container .news__figure .news__figuraption-title {
  text-align: center;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .news .news__container .news__figure .news__figuraption-title {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  .news .news__container .news__figure .news__figuraption-title {
    font-size: 0.6rem;
  }
}
.news .news__container .news__figure .news__figuraption-text {
  margin-top: 4%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .news .news__container .news__figure .news__figuraption-text {
    font-size: 0.6rem;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
@media (max-width: 480px) {
  .news .news__container .news__figure .news__figuraption-text {
    font-size: 0.5rem;
  }
}
@media (max-width: 768px) {
  .news .news__container .news__figure .news__link {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  .news .news__container .news__figure .news__link {
    font-size: 0.6rem;
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5% auto 2%;
  gap: 10px;
}
.partners .partners__img {
  max-width: 100px;
  width: 100%;
  height: 100%;
}
@media (max-width: 480px) {
  .partners .partners__img {
    max-width: 50px;
  }
}

.grbuttons {
  width: 90%;
  margin: auto;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.grbuttons .btn__partner {
  background-color: rgb(246, 124, 135);
}
.grbuttons .btn__partner:hover {
  background-color: transparent;
  color: rgb(246, 124, 135);
  border: 2px solid rgb(246, 124, 135);
}
.grbuttons .btn__valanter {
  background-color: rgb(52, 129, 132);
}
.grbuttons .btn__valanter:hover {
  background-color: transparent;
  color: rgb(52, 129, 132);
  border: 2px solid rgb(52, 129, 132);
}
@media screen and (max-width: 768px) {
  .grbuttons {
    height: 20vh;
  }
}
@media screen and (max-width: 480px) {
  .grbuttons {
    display: flex;
    flex-direction: column;
    margin: 15% auto;
    gap: 5px;
  }
}

.smi {
  background-image: url("../../assets/main/3759828_76254v.jpg"), url("../../assets/main/3759828_76254h.jpg");
  background-size: contain;
  background-position: left, right;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 90vh;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
}
@media screen and (max-width: 1300px) {
  .smi {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.smi .smi__container {
  padding: 5% 0%;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  .smi .smi__container {
    width: 100%;
    gap: 2px;
  }
  .smi .smi__container :nth-child(3n) {
    display: none;
  }
}
.smi .smi__container .smi__figure {
  background-color: rgba(205, 228, 229, 0.3);
  border-radius: 10%;
  max-width: 270px;
  min-width: 200px;
  height: 370px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1%;
}
@media screen and (max-width: 1300px) {
  .smi .smi__container .smi__figure {
    min-width: 200px;
    max-width: 270px;
    padding: 2%;
  }
}
.smi .smi__container .smi__figure .smi__figure-img {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  width: 100%;
  margin-bottom: 6%;
}
.smi .smi__container .smi__figure .smi__figuraption-title {
  text-align: center;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .smi .smi__container .smi__figure .smi__figuraption-title {
    font-size: 0.8rem;
  }
}
.smi .smi__container .smi__figure .smi__figuraption-text {
  margin-top: 4%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .smi .smi__container .smi__figure .smi__figuraption-text {
    font-size: 0.6rem;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
.smi .smi__container .smi__figure .smi__link {
  text-decoration: underline;
  color: black;
}
@media screen and (max-width: 768px) {
  .smi .smi__container .smi__figure .smi__link {
    font-size: 0.8rem;
  }
}

.map__container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  gap: 55px;
}
@media screen and (max-width: 768px) {
  .map__container {
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .map__container {
    display: none;
  }
}
.map__container #map__card {
  display: block;
}
@media screen and (max-width: 768px) {
  .map__container #map__card {
    display: none;
  }
}
.map__container #map__card-tab {
  display: none;
}
@media screen and (max-width: 768px) {
  .map__container #map__card-tab {
    display: block;
  }
}
.map__container #card__novo {
  display: none;
}
.map__container #city-select {
  padding: 5px;
  background-color: rgb(52, 129, 132);
  height: 50px;
  width: 150px;
  color: white;
}
.map__container .map__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map__container .map__content .map__text {
  margin-top: 2%;
  font-size: 0.8rem;
}

.footer {
  border-top: 1px solid rgb(202, 207, 206);
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.footer .footer__container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer__container .footer__title {
  width: 100%;
  text-align: center;
  font-style: inherit;
}
@media screen and (max-width: 768px) {
  .footer .footer__container .footer__title {
    font-size: 1.2rem;
    margin-bottom: 1%;
  }
}
@media screen and (max-width: 480px) {
  .footer .footer__container .footer__title {
    margin-bottom: 2%;
    font-size: 0.8rem;
  }
}
.footer .footer__container .footer__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 480px) {
  .footer .footer__container .footer__content {
    margin: auto;
    gap: 5px;
  }
}
.footer .footer__container .footer__content .icon {
  margin-left: 5%;
  width: 40px;
  height: 40px;
}
.footer .footer__container .footer__content .privacy-policy {
  align-self: flex-end;
  color: gray;
  font-size: 1rem;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer .footer__container .footer__content .privacy-policy {
    text-decoration: underline;
    font-size: 0.8rem;
    align-self: center;
  }
}
@media screen and (max-width: 480px) {
  .footer .footer__container .footer__content .privacy-policy {
    font-size: 0.6rem;
  }
}
.footer .footer__container .footer__content .privacy-policy:hover {
  text-decoration: underline;
}
.footer .footer__container .footer__contati {
  gap: 5px;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .footer .footer__container .footer__contati {
    margin: auto;
    padding-top: 5px;
  }
}
.footer .footer__container .adress {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .footer .footer__container .adress {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 480px) {
  .footer .footer__container .adress {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer__container .adress .adress__link {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 480px) {
  .footer .footer__container .adress .adress__link {
    font-size: 0.5rem;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 5px;
  border: 1px solid #888;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .modal .modal-content {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .modal .modal-content {
    width: 90%;
  }
}
.modal .modal-content .close, .modal .modal-content .close__export, .modal .modal-content .close__work, .modal .modal-content .close__partner {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover, .modal .modal-content .close__export:hover, .modal .modal-content .close__work:hover, .modal .modal-content .close__partner:hover,
.modal .modal-content .close__work:focus, .modal .modal-content .close__export:focus, .modal .modal-content .close:focus, .modal .modal-content .close__partner:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .modal__title {
  padding: 5% 5% 2% 5%;
  font-size: 2rem;
}
@media screen and (max-width: 480px) {
  .modal .modal-content .modal__title {
    font-size: 1.3rem;
  }
}
.modal .modal-content .modal__title .modal__logo {
  margin-right: 15px;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 480px) {
  .modal .modal-content .modal__title .modal__logo {
    width: 32px;
    height: 32px;
  }
}
.modal .modal-content .modal__img {
  width: 100%;
  max-height: 300px;
}
.modal .modal-content .modal__img-exp {
  margin-left: 10%;
  width: 80%;
  max-height: 350px;
}
.modal .modal-content .modal__form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.modal .modal-content .modal__form .form__text {
  margin-bottom: 2%;
}
.modal .modal-content .modal__form .form__radio {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 2%;
  height: -moz-fit-content;
  height: fit-content;
}
.modal .modal-content .modal__form .form__radio .form__radio-text {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .modal .modal-content .modal__form .form__radio .form__radio-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .modal .modal-content .modal__form .form__radio .form__radio-text {
    font-size: 0.6rem;
  }
}
.modal .modal-content .modal__form .form__input {
  height: 40px;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
}
@media screen and (max-width: 480px) {
  .modal .modal-content .modal__form .form__input {
    height: 20px;
    font-size: 0.5rem;
  }
}
.modal .modal-content .modal__form .input-var {
  width: 100%;
}
.modal .modal-content .modal__form .form__textarea {
  height: 90px;
  border-radius: 10px;
}
.modal .modal-content .modal__form .form__btn {
  width: 30%;
  height: 45px;
  align-self: flex-end;
  background-color: rgb(52, 129, 132);
}
.modal .modal-content .modal__form .form__btn:hover {
  background-color: transparent;
  color: rgb(52, 129, 132);
  border: 2px solid rgb(52, 129, 132);
}
.modal .modal-content .modal__form .form__text-link {
  color: gray;
  font-size: 0.7rem;
  text-align: center;
  margin-top: 5%;
}
.modal .modal-content .modal__form .form__text-link .form__link {
  color: gray;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */