@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;600;700&display=swap');
$Font1: 'Montserrat', sans-serif;
$Font2: 'Inter', sans-serif;

@mixin btn-orange {
    background-color: rgb(209, 111, 66);
}
@mixin btn-red {
    background-color: rgb(246, 124, 135);
}
@mixin btn-green {
    background-color: rgb(52, 129, 132);
}   

body {
    width: 100%;
}
.btn {
    max-width: 220px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 1.5em;
    font-family: $Font2;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    color: white;
    cursor: pointer;
}
h1 {
    font-family: $Font1;
    font-size: 4rem;
    font-weight: 700;
}
h2 {
    font-family: $Font1;
    font-size: 3rem;
    font-weight: 700;
}
h3 {
    font-family: $Font2;
    font-size: 1.5rem;
    font-weight: 600;
}
p {
    font-family: $Font2;
    font-size: 1.2rem;
    font-weight: 400;
}
