@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;600;700&display=swap');
$Font1: 'Montserrat', sans-serif;
$Font2: 'Inter', sans-serif;

@mixin btn-orange {
    background-color: rgb(209, 111, 66);
}
@mixin btn-red {
    background-color: rgb(246, 124, 135);
}
@mixin btn-green {
    background-color: rgb(52, 129, 132);
}  
@mixin btn-white {
    background-color: white;
    color: #CC5078;
    border: 2px solid #CC5078;
} 

body {
    width: 100%;
    box-sizing: border-box;
}
.btn__social{
    background: none;
    border: none;
    cursor: pointer;
}
.btn {
    max-width: 250px;
    width: 100%;
    height: 70px;
    border-radius: 16px;
    font-family: $Font2;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    border: none;
    color: white;
    cursor: pointer;
    @media (max-width: 768px) {
        max-width: 150px;
        height: 50px;
        font-size: .6rem;
    }
}
.link{
    color: black;
    font-family: $Font2;
    font-size: 1.1rem;
}
.link:hover{
    color: rgb(52, 129, 132);
    font-weight: bold;
}
h1 {
    font-family: $Font1;
    font-size: 4rem;
    font-weight: 700;
    @media (max-width: 768px) {
        font-size: 2rem;
    }
}
h2 {
    font-family: $Font1;
    font-size: 3rem;
    font-weight: 700;
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}
h3 {
    font-family: $Font2;
    font-size: 1.5rem;
    font-weight: 600;
    @media (max-width: 768px) {
        font-size: .7rem;
    }
}
p {
    font-family: $Font2;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    @media (max-width: 768px) {
        font-size: .6rem;
    }
}
a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 2% auto;
    padding-bottom: 2%;
    font-family: $Font1;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid rgb(202, 207, 206);
    @media (max-width: 768px) {
        font-size: .7rem;
    }
    .header__logo {
        width: 10%;
        margin: 0 auto;
        .header__logo-img {
            max-width: 100%;
            max-height: 10vh;
        }
    }
    .header__menu {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        @media (max-width: 768px) {
            flex-direction: column;
            background-color: rgb(52, 129, 132);
            width: 70%;
            a:last-child, .menu__pic {
                display: none;
            } 
        }
    }
    .menu__pic {
        max-width: 40px;
        padding-left: 3%;
    }
    .menu__link {
        padding-left: 3%;
        color: black;
        @media (max-width: 768px) {
            border: 2px solid white;
            color: white;
            width: 100%;
            padding: 1%;
        }
    }
    .menu__link-tel {
        padding-left: 0;
    }
}
.intro {
    width: 90%;
    min-height: 80vh;
    max-height: fit-content;
    background-image: url('/assets/main/12178789_4907879.svg');
    background-size: cover;
    background-position-x: left;
    margin: 2% auto;
    @media (max-width: 768px) {
        padding-top: 20%;
        min-height: 50vh;
    }
    .intro__title {
        padding: 5% 0;
    }

    .intro__btn {
        padding: 0 0 5% 7%;
    }
    .intro__btn-want {
        @include btn-green
    }
    .intro__btn-need {
        @include btn-white;
    }
}
.objective {
    width: 90%;
    min-height: 50vh;
    max-height: fit-content;
    margin: 2% auto;
    display: flex;
    .objective__img {
        width: 50%;
        .objective__pic {
            width: 100%;
        }
    }
    .objective__info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .objective__btn {
        @include btn-green;
    }
}
.grbuttons{
    width: 90%;
    margin: auto;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
        .btn__partner{
        @include btn-orange()
        }
        .btn__partner:hover{
            background-color: transparent;
            color: rgb(209, 111, 66);
            border: 2px solid rgb(209, 111, 66);
        }
        .btn__valanter{
            @include btn-green()
        }
        .btn__valanter:hover{
            background-color: transparent;
            color: rgb(52, 129, 132);
            border: 2px solid rgb(52, 129, 132);;
        }
        .btn__lease{
            @include btn-red()
        }
        .btn__lease:hover{
            background-color: transparent;
            color: rgb(246, 124, 135);
            border: 2px solid rgb(246, 124, 135);;
        }
        @media screen and (max-width: 768px) {
            height: 20vh;
            .btn{
                max-width: 200px;
                width: 100%;
                font-size: .8rem;
            }
        }
        @media screen and (max-width: 480px) {
            display: flex;
            flex-direction: column;
            margin: 15% auto;
            .btn{
                max-width: 200px;
                width: 100%;
                font-size: .8rem;
            }
        }
    }
    .smi{
        background-image: url(/assets/main/background2.jpg);
        background-size: cover;
        width: 100%;
        min-height: 90vh;
        height: fit-content;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 2%;
        @media screen and (max-width: 1300px) {
            background-size: auto;
            min-height: fit-content;
        }
        .smi__container{
            padding: 5% 0%;
            width: 90%;
            height: fit-content;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:5px;
            align-items: center;
            @media screen and (max-width: 1300px) {
                width: 100%;
                gap:2px;
                :nth-child(3n){
                display: none;
                }
            }
        .smi__figure{
            background-color: rgba(205, 228, 229, 0.3);
            border-radius: 10%;
            max-width: 270px;
            min-width: 200px;
            height: 370px;
            height: fit-content;
            padding: 1%;
            @media screen and (max-width: 1300px) {
                min-width: 200px;
                max-width: 270px;
                padding: 2%;
            }
            .smi__figure-img{
                border-top-right-radius:10% ;
                border-top-left-radius:10% ;
                width: 100%;
            
                margin-bottom: 6%;
            }
            .smi__figuraption-title{
                text-align:center;
                text-decoration:underline;
                @media screen and (max-width: 768px) {
                    font-size: 1.1rem;
                }
            }
            .smi__figuraption-text{
                margin-top: 4%;
                margin-bottom: 5%;
                text-align:center;
                font-size: 1rem;
                @media screen and (max-width: 768px) {
                    font-size: 0.9rem;
                    margin-top: 1%;
                    margin-bottom: 1%;
                }
            }
            .smi__link{
                text-decoration: underline;
                color: black;
                }
            }
        }
    }
    .map__container{
        width: 90%;
        margin: auto;
        display:flex ;
        flex-wrap: wrap;
        height: fit-content;
        gap:55px;
        @media screen and (max-width: 768px) {
            justify-content: center;
            gap:20px;
            }
        #city-select{
            padding: 5px;
            @include btn-green();
            height: 50px;
            width: 150px;
            color: white;
        }    
    }
    .footer{
        border-top: 1px solid rgb(202, 207, 206);
        margin-top: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        .footer__container{
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .footer__title{
                width: 100%;
            text-align: center;
            font-style: inherit;
            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
                margin-bottom: 1%;
                }
            }
            .footer__content{
                display: flex;
                flex-direction: column;
                gap:15px;
            .icon{
                margin-left: 5%;
                width: 40px;
                height: 40px;
    }
            .privacy-policy{
                align-self: flex-end;
                color: gray;
                font-size: 1rem;
                text-decoration: none;
                @media screen and (max-width: 768px) {
                    text-decoration: underline;
                    }
            }
            .privacy-policy:hover{
                text-decoration: underline;
            }
        }
            .footer__contati{
                gap: 5px;
                flex-wrap: wrap;
                    }
                .adress{
                    font-size: 1rem;
                    @media screen and (max-width: 768px) {
                        font-size: .8rem;
                        }
                        .adress__link{
                            @media screen and (max-width: 768px) {
                                font-size: .8rem;
                            } 
                        }
                }
            }
    }
    .modal{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0,0, 0.4);
        .modal-content{
            background-color: #fefefe;
            margin: 2% auto;
            padding: 5px;
            border: 1px solid #888;
            width: 50%;
            .close{
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
            .close:hover, .close:focus{
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            .modal__img{
                width: 100%;
                height: 300px;
            }
            .modal__form{
                padding: 5%;
                display: flex;
                flex-direction: column;
                gap:5%;
                .form__text{
                    margin-bottom: 2%;
                }
                .form__input{
                    height: 40px;
                    padding-left: 3%;
                }
                .form__textarea{
                    height: 90px;
                }
                .form__btn{
                    width: 30%;
                    height: 45px;
                    align-self: flex-end;
                    @include btn-green();
                }
                .form__btn:hover{
                    background-color: transparent;
                    color: rgb(52, 129, 132);
                    border: 2px solid rgb(52, 129, 132);;
                }
            }
        }
    }
