@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;600;700&display=swap");
body {
  width: 100%;
  box-sizing: border-box;
}

.btn__social {
  background: none;
  border: none;
  cursor: pointer;
}

.btn {
  max-width: 250px;
  width: 100%;
  height: 70px;
  border-radius: 16px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn {
    max-width: 150px;
    height: 50px;
    font-size: 0.6rem;
  }
}

.link {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}

.link:hover {
  color: rgb(52, 129, 132);
  font-weight: bold;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  h3 {
    font-size: 0.7rem;
  }
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  p {
    font-size: 0.6rem;
  }
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin: 2% auto;
  padding-bottom: 2%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 1px solid rgb(202, 207, 206);
}
@media (max-width: 768px) {
  .header {
    font-size: 0.7rem;
  }
}
.header .header__logo {
  width: 10%;
  margin: 0 auto;
}
.header .header__logo .header__logo-img {
  max-width: 100%;
  max-height: 10vh;
}
.header .header__menu {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .header .header__menu {
    flex-direction: column;
    background-color: rgb(52, 129, 132);
    width: 70%;
  }
  .header .header__menu a:last-child, .header .header__menu .menu__pic {
    display: none;
  }
}
.header .menu__pic {
  max-width: 40px;
  padding-left: 3%;
}
.header .menu__link {
  padding-left: 3%;
  color: black;
}
@media (max-width: 768px) {
  .header .menu__link {
    border: 2px solid white;
    color: white;
    width: 100%;
    padding: 1%;
  }
}
.header .menu__link-tel {
  padding-left: 0;
}

.intro {
  width: 90%;
  min-height: 80vh;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-image: url("/assets/main/12178789_4907879.svg");
  background-size: cover;
  margin: 2% auto;
}
@media (max-width: 768px) {
  .intro {
    padding-top: 20%;
    min-height: 50vh;
  }
}
.intro .intro__title {
  padding: 5% 0;
}
.intro .intro__btn {
  padding: 0 0 5% 7%;
}
.intro .intro__btn-want {
  background-color: rgb(52, 129, 132);
}
.intro .intro__btn-need {
  background-color: white;
  color: #CC5078;
  border: 2px solid #CC5078;
}

.objective {
  width: 90%;
  min-height: 50vh;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 2% auto;
  display: flex;
}
.objective .objective__img {
  width: 50%;
}
.objective .objective__img .objective__pic {
  width: 100%;
}
.objective .objective__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.objective .objective__btn {
  background-color: rgb(52, 129, 132);
}

.grbuttons {
  width: 90%;
  margin: auto;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.grbuttons .btn__partner {
  background-color: rgb(209, 111, 66);
}
.grbuttons .btn__partner:hover {
  background-color: transparent;
  color: rgb(209, 111, 66);
  border: 2px solid rgb(209, 111, 66);
}
.grbuttons .btn__valanter {
  background-color: rgb(52, 129, 132);
}
.grbuttons .btn__valanter:hover {
  background-color: transparent;
  color: rgb(52, 129, 132);
  border: 2px solid rgb(52, 129, 132);
}
.grbuttons .btn__lease {
  background-color: rgb(246, 124, 135);
}
.grbuttons .btn__lease:hover {
  background-color: transparent;
  color: rgb(246, 124, 135);
  border: 2px solid rgb(246, 124, 135);
}
@media screen and (max-width: 768px) {
  .grbuttons {
    height: 20vh;
  }
  .grbuttons .btn {
    max-width: 200px;
    width: 100%;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .grbuttons {
    display: flex;
    flex-direction: column;
    margin: 15% auto;
  }
  .grbuttons .btn {
    max-width: 200px;
    width: 100%;
    font-size: 0.8rem;
  }
}

.smi {
  background-image: url(/assets/main/background2.jpg);
  background-size: cover;
  width: 100%;
  min-height: 90vh;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
}
@media screen and (max-width: 1300px) {
  .smi {
    background-size: auto;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.smi .smi__container {
  padding: 5% 0%;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  .smi .smi__container {
    width: 100%;
    gap: 2px;
  }
  .smi .smi__container :nth-child(3n) {
    display: none;
  }
}
.smi .smi__container .smi__figure {
  background-color: rgba(205, 228, 229, 0.3);
  border-radius: 10%;
  max-width: 270px;
  min-width: 200px;
  height: 370px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1%;
}
@media screen and (max-width: 1300px) {
  .smi .smi__container .smi__figure {
    min-width: 200px;
    max-width: 270px;
    padding: 2%;
  }
}
.smi .smi__container .smi__figure .smi__figure-img {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  width: 100%;
  margin-bottom: 6%;
}
.smi .smi__container .smi__figure .smi__figuraption-title {
  text-align: center;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .smi .smi__container .smi__figure .smi__figuraption-title {
    font-size: 1.1rem;
  }
}
.smi .smi__container .smi__figure .smi__figuraption-text {
  margin-top: 4%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .smi .smi__container .smi__figure .smi__figuraption-text {
    font-size: 0.9rem;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
.smi .smi__container .smi__figure .smi__link {
  text-decoration: underline;
  color: black;
}

.map__container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  gap: 55px;
}
@media screen and (max-width: 768px) {
  .map__container {
    justify-content: center;
    gap: 20px;
  }
}
.map__container #city-select {
  padding: 5px;
  background-color: rgb(52, 129, 132);
  height: 50px;
  width: 150px;
  color: white;
}

.footer {
  border-top: 1px solid rgb(202, 207, 206);
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.footer .footer__container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer__container .footer__title {
  width: 100%;
  text-align: center;
  font-style: inherit;
}
@media screen and (max-width: 768px) {
  .footer .footer__container .footer__title {
    font-size: 1.2rem;
    margin-bottom: 1%;
  }
}
.footer .footer__container .footer__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .footer__container .footer__content .icon {
  margin-left: 5%;
  width: 40px;
  height: 40px;
}
.footer .footer__container .footer__content .privacy-policy {
  align-self: flex-end;
  color: gray;
  font-size: 1rem;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer .footer__container .footer__content .privacy-policy {
    text-decoration: underline;
  }
}
.footer .footer__container .footer__content .privacy-policy:hover {
  text-decoration: underline;
}
.footer .footer__container .footer__contati {
  gap: 5px;
  flex-wrap: wrap;
}
.footer .footer__container .adress {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .footer .footer__container .adress {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer__container .adress .adress__link {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=main.css.map */